body {
	padding-bottom: 20px;
}

nav {
	background-color: #6ea6ee;
}

nav .brand-logo {
	margin-left: 12px;
}


.navbar {
	margin-bottom: 20px;

}

[ng-cloak] {
	 display: none;
}

#AddButton {
	min-width: 288px;
}

.progress-button {
	text-align: center;
}
