<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<title>Vital Outdoors Schedule Calendarer</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div ng-app="app" ng-controller="vitalCtrl as vm">
			<nav class="navbar navbar-light bg-faded">
			<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
				&#9776;
			</button>
			<div class="collapse navbar-toggleable-xs" id="navbar-header">
				<a class="navbar-brand" href="#">
					Vital Schedule Calendar
				</a>
				<div ng-show="vm.UserName.length > 0 && vm.SignedIn" ng-cloak>
					<ul class="nav navbar-nav">
						<li class="nav-item dropdown">
						<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{ vm.UserName }}
						</a>
						<div class="dropdown-menu">
							<a href="#" ng-click="vm.SignOut()" ng-show="vm.SignedIn" class="dropdown-item">
								Sign Out
							</a>
						</div>
						</li>
					</ul>
				</div>
				<div class="pull-xs-right">
					<ul class="nav navbar-nav">
						<li class="nav-item active">
							<a href="https://github.com/ianwitherow/vital-calendar" class="nav-link" target="_blank">
								Source code
							</a>
						</li>
						<li class="nav-item active">
							<a href="#" ng-click="vm.SignOut()" ng-show="vm.SignedIn" class="nav-link">
								Sign Out
							</a>
						</li>
					</ul>

				</div>
			</div>
			</nav>


			<div class="container" ng-cloak>
				<h1>
					Vital Schedule Calendar
				</h1>
				<p ng-show="!vm.SignedIn">
					Add your schedule to your Google Calendar!
				</p>
				<p ng-show="vm.SignedIn">
					Copy and paste your schedule into the text box to get started.
				</p>
				<div class="alert alert-danger" ng-show="vm.Error">
					<a href="#" class="close" ng-click="vm.Error = null">&times;</a>
					{{ vm.Error }}
				</div>
				<div class="alert alert-success" ng-show="vm.Finished">
					<a href="#" class="close" ng-click="vm.Finished = false">&times;</a>
					Done! Your schedule should now be on your Google calendar.
				</div>
				<div ng-show="!vm.AuthChecked">
					Loading...
				</div>
				<div ng-show="vm.AuthChecked">
					<div ng-if="!vm.SignedIn">
						<a href="#" class="btn btn-primary" ng-click="vm.SignIn()">Sign in with Google</a>
					</div>
					<div ng-if="vm.SignedIn">

						<div class="row">
							<div class="col-sm-6">
								<form class="form-inline">
									<div class="form-group">
										<label for="exampleInput">Month</label>
										<select class="form-control" ng-model="vm.Month" ng-change="vm.UpdateEventsList()">
											<option ng-repeat="month in vm.Months" value="{{ month.value }}">{{ month.name }}</option>
										</select>
									</div>
									<div class="form-group">
										<label for="exampleInput">Year</label>
										<select class="form-control" ng-model="vm.Year" ng-change="vm.UpdateEventsList()">
											<option ng-repeat="year in vm.Years" value="{{ year }}">{{ year }}</option>
										</select>
									</div>
								</form>

								<form>
									<div class="form-group" style="margin-top: 10px;">
											<input type="text" class="form-control" placeholder="Event Title" ng-model="vm.EventTitle" ng-change="vm.UpdateEventTitle()">
									</div>
									<div class="form-group">
										<textarea class="form-control"
											id="scheduleTextarea"
											rows="3"
											placeholder="Paste your schedule here!"
											ng-model="vm.ScheduleText"
											ng-change="vm.UpdateEventsList()"></textarea>
									</div>
									<div ng-show="vm.Events.length > 0" class="form-group">
										<a href="#" ng-click="vm.AddEventsToCalendar($event)" class="btn btn-primary pull-md-right" ng-disabled="vm.AddingEvents">
											{{ vm.AddingEvents ? 'Adding...' : 'Add to Calendar' }}
										</a>
									</div>
								</form>
							</div>
							<div class="col-sm-6">
								<div style="margin-top: 50px;" ng-show="vm.Events.length > 0">
									<h3>Working Days:</h3>
									<ul class="list-unstyled">
										<li ng-repeat="event in vm.Events">
										{{ event.date }} {{ event.start }} - {{ event.end }}
										</li>
									</ul>
									<strong>
										{{ vm.Events.length }} day{{ vm.Events.length > 1 ? 's' : '' }} total
									</strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script src="https://apis.google.com/js/client.js?onload=checkAuthentication"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
		<script src="/css/bootstrap.min.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/googFactory.js"></script>
		<script src="/js/vitalCtrl.js"></script>
		<script type="text/javascript">
			function checkAuthentication() {
				if (window.initializeGoogleApi) {
					window.initializeGoogleApi();
				}
			}
		</script>
	</body>
</html>
